.sidebar {
    width: 250px;
    height: calc(100vh - 64px); 
    background-color: #f8f9fa;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    position:absolute;
    left: 0;
    top: 64px; /* Move below the header */
    z-index: 1000;
  }
  
  .logo {
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid #e0e0e0;
  }
  
  .logo img {
    max-width: 100px;
  }
  
  .nav-links {
    flex: 1;
    padding: 20px;
  }
  
  .nav-item {
    display: block;
    padding: 15px 20px;
    margin: 5px 0;
    color: #333;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    border-radius: 5px;
    transition: background 0.3s, color 0.3s;
  }
  
  .nav-item:hover {
    background-color: #d4edda;
    color: #155724;
  }
  .nav-item i{
    font-size: large;
    padding-right: 10px;
  }