<section class="main-content">
    <div class="left-part">
        <h1>Bienvenue sur le marché du carbone</h1>
        <p>
          Découvrez comment vous pouvez participer à la lutte contre le changement climatique en investissant dans le marché du carbone. 
          Notre plateforme vous permet d'acheter et de vendre des crédits carbone facilement et de manière sécurisée.
        </p>
        <div class="button-container">
          <button class="buy-btn">Acheter maintenant</button>
          <button class="sell-btn">Vendre le produit</button>
        </div>
      </div>
    
      <div class="right-part">
        <img src="assets/logo_dark.png" alt="Marché du carbone" />
      </div>
</section>
<app-sponsors></app-sponsors>
<app-about></app-about>
<app-footer></app-footer>

