<app-sidebar></app-sidebar>
<div class="dashboard-container">
    <div class="sales-profit">
      <div class="header">
        <h3>Ecocoin market</h3>
      </div>
      <div class="chart">
        <canvas id="salesChart" style="width: 50%; height: 400px;"></canvas>
      </div>
    </div>

    <div class="stats-cards">
      <div class="card followers">
        <div>
          <h4>ETH</h4>
          <p>{{ ethBalance }}</p> 
        </div>
      </div>
      <div class="card income">
        <div>
          <h4>EUR</h4>
          <p>{{ eurBalance }}</p> 
        </div>
      </div>
    </div>

    <div class="popular-products">
      <h3>Market updates</h3>
      <div class="active-announcements">
        <h3>Active Announcements</h3>
        <ul>
          <li *ngFor="let announcement of activeAnnouncements">
            <h4>seller id : {{ announcement.seller_id }}</h4>
            <p>credit : {{ announcement.credit_amount }}</p>
          </li>
        </ul>
      </div>
    </div>
    
    <div class="earning-reports">
      <h3>Latest Transactions</h3>
      <ul>
        <li *ngFor="let transaction of transactions">
          <p>Transaction ID: {{ transaction.id }}</p>
          <span *ngIf="transaction.currency === 'EURO'">
            {{ getTransactionAmount(transaction) }}
          </span>
          <span *ngIf="transaction.currency === 'ETH'">
            {{ getTransactionAmount(transaction) }}
          </span>
        </li>
      </ul>
      
      <a href="#">View all</a>
    </div>
</div>
