/* Mode sombre */
/* Enlevez les marges/paddings par défaut du body */
html, body {
    margin: 0;
    padding: 0;
    width: 100%; /* Assurez-vous que l'élément body occupe toute la largeur */
    height: 100%;
  }
  
body.dark-mode {
    background-color: #252424e9;
    color: white;
  }
  
  body.dark-mode .header-toolbar {
    background-color: #333;
  }
  
  body.dark-mode mat-toolbar button {
    color: white;
  }
  body {
    background-color: white;
    color: #252424e9;
  }
  
  mat-toolbar {
    background-color: #808080; /* Couleur grise pour le toolbar */
  }
  
  mat-toolbar button {
    color: white;
    font-size: 16px;
  }
  body.dark-mode .sponsorship{
    background-color: white;
  }
  body.dark-mode .about_us button{
    box-shadow: 0px 2px 20px rgba(175, 246, 214, 0.775);
  }
  body.dark-mode .form {
    box-shadow: 0px 1px 10px rgba(175, 246, 214, 0.775);
    background-color: #333;
    color: #FFF;
  }
  body.dark-mode .form header{
    color: #FFF;
  }

  body.dark-mode .form-link span{
    color: #FFF !important;
  }