/* user.component.css */
.content-block{
    max-height: calc(100vh - 64px); /* Set a maximum height for the container */
    overflow-y: auto; /* Enable vertical scrolling */
    margin-bottom: 20px;
    padding-left: 270px;
}
.ag-format-container {
    margin: 0 auto;
    height: 100%;
}
.card {
  /* box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.1);; */
  max-width: 300px;
  margin: auto;
  font-family: arial;
}

.title {
  color: grey;
  font-size: 18px;
}
.ag-courses_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 50px 0;
}
.ag-courses_item {
    -ms-flex-preferred-size: calc(33.33333% - 30px);
    flex-basis: calc(33.33333% - 30px);
    margin: 0 15px 30px;
    overflow: hidden;
    box-shadow: 0px 1px 10px rgba(48, 48, 48, 0.467);
    border-radius: 28px;
}
.ag-courses-item_link {
    display: block;
    padding: 30px 20px;
    background-color: #FFF;
    overflow: hidden;
    text-decoration: none;
    position: relative;
}
.ag-courses-item_link:hover,
.ag-courses-item_link:hover .ag-courses-item_date {
    text-decoration: none;
    color: #FFF;
}
.ag-courses-item_link:hover .ag-courses-item_bg {
    -webkit-transform: scale(10);
    -ms-transform: scale(10);
    transform: scale(10);
}
.ag-courses-item_title {
    min-height: 87px;
    margin: 0 0 25px;
    overflow: hidden;
    font-weight: bold;
    font-size: 30px;
    color: black;
    z-index: 1;
    position: relative;
}
.ag-courses-item_date-box {
    font-size: 18px;
    color: black;
    z-index: 1;
    position: relative;
}
.ag-courses-item_date {
    font-weight: bold;
    color: #34f962;
    -webkit-transition: color .5s ease;
    -o-transition: color .5s ease;
    transition: color .5s ease
}
.ag-courses-item_bg {
    height: 128px;
    width: 128px;
    background-color: #34f969;
    z-index: 1;
    position: absolute;
    top: -75px;
    right: -75px;
    border-radius: 50%;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}
.ag-courses_item:nth-child(2n) .ag-courses-item_bg {
    background-color: #3ecd5e;
}
.ag-courses_item:nth-child(3n) .ag-courses-item_bg {
    background-color: #2d684b;
}
.ag-courses_item:nth-child(4n) .ag-courses-item_bg {
    background-color: #32dc81;
}
.ag-courses_item:nth-child(5n) .ag-courses-item_bg {
    background-color: #cd3e94;
}
.ag-courses_item:nth-child(6n) .ag-courses-item_bg {
    background-color: #4c49ea;
}
  
@media only screen and (max-width: 979px) {
    .ag-courses_item {
      -ms-flex-preferred-size: calc(50% - 30px);
      flex-basis: calc(50% - 30px);
    }
    .ag-courses-item_title {
      font-size: 24px;
    }
}
  
@media only screen and (max-width: 767px) {
    .ag-format-container {
      width: 96%;
    }
  
}
@media only screen and (max-width: 639px) {
    .ag-courses_item {
      -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
    }
    .ag-courses-item_title {
      min-height: 72px;
      line-height: 1;
      font-size: 24px;
    }
    .ag-courses-item_link {
      padding: 22px 40px;
    }
    .ag-courses-item_date-box {
      font-size: 16px;
    }
}



.container {
    display: flex;
   
    scroll-behavior: smooth;
    /* Add scrolling */
}
  /* Customize the scroll bar */
  .content-block::-webkit-scrollbar {
    width: 10px; /* Width of the scroll bar */
  }
  
  .content-block::-webkit-scrollbar-track {
    background: #f0f0f0; /* Background color of the scroll bar track */
  }
  
  .content-block::-webkit-scrollbar-thumb {
    background-color: #65cb9a; /* Scroll bar thumb color */
    border-radius: 8px; /* Rounded corners for the scroll bar */
    border: 2px solid #ffffff; /* Optional: Add a border around the thumb */
  }
  
  .main-content {
    flex: 1;
    padding: 30px;
  }
  
  .profile-section {
    background-color: #FFF;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 1px 10px rgba(48, 48, 48, 0.467);

  }
  
  .profile-header {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
  }
  
  .profile-picture {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 20px;
  }
  
  .user-details h2 {
    font-size: 24px;
    margin: 0;
  }
  
  .job-title {
    font-size: 16px;
    color: gray;
  }
  
  .location {
    font-size: 16px;
    color: gray;
  }
  
  .message-button,
  .follow-button,
  .edit-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
  }
/*   
  .message-button {
    background-color: #007bff;
    color: white;
  }
  
  .follow-button {
    background-color: #28a745;
    color: white;
  } */
  
  .edit-button {
    background-color: #58d674;
    color: white;
  }
  
  .project-status {
    margin-top: 30px;
  }
  
  mat-progress-bar {
    margin-top: 10px;
  }
  
  .project-status p {
    font-size: 16px;
  }
  