<app-sidebar></app-sidebar>
<div class="dashboard-container">
    <!-- Sales Profit Chart -->
    <div class="sales-profit">
      <div class="header">
        <h3>Ecocoin market</h3>
        

    </div>
      <div class="chart">
        <canvas id="salesChart" style="width: 50%; height: 400px;"></canvas>
      </div>
    </div>
  
    <!-- Stats Cards -->
    <div class="stats-cards">
      <div class="card followers">
        <div>
          <h4>ETH</h4>
          <p>4,562</p>
          <span>+23% last month</span>
        </div>
      </div>
      <div class="card income">
        <div>
          <h4>USD</h4>
          <p>$6,280</p>
          <span>+18% last month</span>
        </div>
      </div>
    </div>
  
    <!-- Popular Products -->
    <div class="popular-products">
      <h3>Market updates</h3>
      <p>Ecocoin prices</p>
      <table>
        <thead>
          <tr>
            <th>Company</th>
            <th>USD</th>
            <th>ETH</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Company1</td>
            <td>499</td>
            <td>0.0325</td>
            <td><a href="">buy</a></td>
          </tr>
          <tr>
            <td>company2</td>
            <td>499</td>
            <td>0.568</td>
            <td><a href="">buy</a></td>
          </tr>
          <tr>
            <td>company3</td>
            <td>499</td>
            <td>0.895</td>
            <td><a href="">buy</a></td>
          </tr>
          <tr>
            <td>comapany4</td>
            <td>499</td>
            <td>0.7895</td>
            <td><a href="">buy</a></td>
          </tr>
        </tbody>
      </table>      
      <a href="#">View all</a>

    </div>
  
    <!-- Earning Reports -->
    <div class="earning-reports">
      <h3>Latest Transactions</h3>
      <ul>
        <li>
          <p>Transaction 1</p>
          <span>-15.465 USD</span>
        </li>
        <li>
            <p>Transaction 2</p>
            <span>-15.465 USD</span>
        </li>
        <li>
            <p>Transaction 3</p>
            <span>-0.465 ETH</span>
        </li>
        <li>
            <p>Transaction 4</p>
            <span>-15.465 USD</span>
        </li>
      </ul>
      <a href="#">View all</a>
    </div>
  </div>
  